

.dark-blue-bg {
  background-color: #161A26
}
.med-blue-bg {
  background-color: #023059;
}
.light-blue-bg {
  background-color: #03658C;
}
html, body {
  margin: 0;
  height: 100vh;
}
body {
  background-color: rgba(211,211,211,.2);
}
h4 {
  margin: 0 0 10px 0;
  font: normal 16px sans-serif;
}
p, a {
  font: normal 13px sans-serif;
  margin: 0;
  text-decoration: none;
}
ul {
  font: normal 13px sans-serif;
  line-height: 22px
}
.description {
  font: normal 10pt sans-serif;
  line-height: 20px;
  margin: 0;
}
.dashboard-link {
  font: normal 14px sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightgrey;
  border-top: 1px solid black;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
  font-style: italic;
}
.dashboard-link a:hover {
  color: red;
}
